.report-content {
    background-color: #FFF;
    border-radius: 10px;
    width: 95%;
}

.report-filters-container {
    background-color: #E0E0E0;
    height: 80px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    gap: 20px;  
}

.report-filter{
    display: flex;
    align-items: center;
    gap: 8px;
    color: black;
}

.report-filter-select {
  padding: 6px 28px 6px 8px;
  border-radius: 4px;
  border: 1px solid #CCC;
  font-size: 14px;
  width: auto;
  min-width: 120px;
  background-color: #fff;
  appearance: none; 
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='18' viewBox='0 0 24 24' width='18' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 8px center;
  background-size: 14px;
}
